/* Comment */
html {
	background-color: #EEEEEE;
}

body {
	text-align: center;
	color: #444444;
}

div {
	border-radius: 5px;
	border-color: #444444;
	width: 50%;
	height: 70%;
}

h1 {
	font-family: Arial;
}

p {
	font-family: Arial;
}

a {
	text-decoration: none;
}