/* Comment */
body {
	text-align: center;
	color: #444444;
	background-color: #EEEEEE;
}

div {
	height: auto;
	width: auto;
	border: 2px solid black;
	border-radius: 5px;
	display: block;
}
* {
	font-family: Arial;
}

a {
	text-decoration: none;
}

#headerText {
	font-weight: bold;
}

#copyright {
	text-align: center;
}