/* Copyright Charlie Xu 2015 */
body {
	text-align: center;
	color: #444444;
	background-color: #EEEEEE;
}

div {
	height: auto;
	width: auto;
	border: 2px solid black;
	border-radius: 5px;
	display: block;
}
* {
	font-family: Arial;
}

a{
	text-decoration: none;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
}

a:link {
	color: #444444;
}

a:visited {
	color: #444444;
}

a:hover {
	color: #F67E22;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}

#headerText {
	font-weight: bold;
}

#resume {
	text-align: left;
}

#email {
	text-align: center;
}

#copyright {
	text-align: right;
}